html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-size: $md;
    color: $black;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }

    &-fd-c {
        flex-direction: column;
    }

    &-fd-r {
        flex-direction: row;
    }
}

h1,
h2,
h4,
h5 {
    cursor: default;
}

.alert {
  min-height: 20px;
  width: 560px;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.alert-warning {
  background: #e41749;
}

.alert i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .icon__wrapper span {
  font-size: 21px;
  color: #fff;
}

.alert p {
  color: #fff;
  margin-left: 50px;
}

i {
  font-size: 20px;
}

.menu {
  display: none !important;
  background-color: $chineseBlack;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  i {
    img {
      width: 38px;
      margin-top: 10px;
    }
  }

  .close {
      color: $white;
      font-size: 23px;
      position: fixed;
      top: 20px;
      right: 20px;
  }

  div {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;

      h4 {
          margin: 0;
          color: $white;
      }

      h5 {
          margin: 0;
          color: $chineseGreen;
      }

      i {
          padding-top: 10px;
          color: $white;
          font-size: 30px;
      }
  }

  a {
      text-decoration: none;
      color: $white;
      font-weight: $bold;
      padding: 10px 90px;

      &:nth-child(1) {
          padding-top: 120px;
      }

      &:nth-child(4) {
          padding-bottom: 40px;
      }
  }

  i.bx-log-out {
      padding-top: 40px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito";
  width: 125px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $gray;
  border-radius: 40px;
  padding: 1px 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  i {
      font-size: 20px;
  }

  h3 {
      margin: 0;
  }

  &:hover {
      background-color: $chineseBlack;
      color: $white;
  }
}

i {
  font-size: 20px;
}

.menu {
  display: none !important;
  background-color: $chineseBlack;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  height: 100vh;

  .close {
      color: $white;
      font-size: 23px;
      position: fixed;
      top: 20px;
      right: 20px;
  }

  div {
      display: flex;
      flex-direction: column;
      padding-top: 10%;
      padding-bottom: 30px;

      h4 {
          margin: 0;
          color: $white;
      }

      h5 {
          margin: 0;
          color: $chineseGreen;
      }

      i {
          padding-top: 10px;
          color: $white;
      }
  }

  a {
      text-decoration: none;
      color: $white;
      font-weight: $bold;
      padding: 10px 90px;

      &:nth-child(1) {
          padding-top: 120px;
      }

      &:nth-child(4) {
          padding-bottom: 40px;
      }
  }

  i.bx-log-out {
      padding-top: 40px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: $bold;
  width: 125px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $gray;
  border-radius: 40px;
  padding: 1px 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  i {
      font-size: 20px;
  }

  h4 {
      margin: 0;
      padding-right: 4px;
      cursor: pointer;
  }

  &:hover {
      background-color: $chineseBlack;
      color: $white;
  }
}

#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
	background-color: $chineseGreen;
}

#style-3::-webkit-scrollbar {
    display: none;
  }

.scrollbar {
	height: 590px;
	overflow-y: scroll;
}

.scrollbar-upcoming-quizzes {
	height: 315px;
	overflow-y: scroll;
}

.scrollbar-completed-quizzes {
    height: 222px;
    overflow-y: scroll;
}

.link {
    text-decoration: none;
    color: black;
}

// ! navbar and sidebar
.dashboard {
    &__navbar {
        border-bottom: 1px solid $gray;
        margin-bottom: 20px;
    }
  
    &__navbar__user {
  
        h4 {
            margin: 0;
        }
  
        h5 {
            margin: 0;
            color: $chineseGreen;
        }
    }

    @include breakpoints(mobile) {
        &__navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px 90px;

            img {
                width: 80px;
            }

            &__icons {
                i:not(:last-child) {
                    padding-right: 5px;
                }
            }
        }

        &__navbar__user {
            display: none;
        }

        &__sidebar {
            display: none;
        }
    }

    @include breakpoints(small) {
        &__navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px;

            img {
                width: 80px;
            }

            &__icons {
                i:not(:last-child) {
                    padding-right: 5px;
                }
            }
        }

        &__navbar__user {
            display: none;
        }

        &__sidebar {
            display: none;
        }
    }

    @include breakpoints(medium) {
        .menu-icon {
            display: none;
        }

        &__navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 26px 40px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: $white;
            z-index: 2;

            img {
                width: 90px;
                margin-right: 20px;
            }

            &__icons {
                i:not(:last-child) {
                    padding-right: 5px;
                }
            }
        }

        &__navbar__user {
            display: block;
            padding: 22.5px 10px;
            position: absolute;
            right: 0;
            z-index: 2;
            transition: all 200ms ease-in-out;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 35px;
                cursor: pointer;
                transition: 200ms all ease-in-out;

                &:first-child {
                    margin-left: 20px;
                }
            }
        }

        .dashboard__navbar {
            div {
                display: flex;
                align-items: center;

                &:nth-child(1) {
                    margin-right: 20px;
                }
            }
        }

        &__sidebar {
            width: 250px;
            height: 100vh;
            border-right: 1px solid $gray;
            margin-top: -21px;
            position: fixed;
            left: 0;
            top: 92px;
            background-color: $white;
    
            &__options {
                &__item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    padding-left: 20px;

                    h3 {
                        margin-right: 50px;
                        width: 80px;
                    }

                    img {
                        width: 20%;
                    }

                    &:hover {
                        background-color: $chineseGreen;
                        color: $chineseBlack;
                    }
                }
            }
        }
    }

    @include breakpoints(large) {
        .menu-icon {
            display: none;
        }

        &__navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 30px 90px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            order: 1;
            background-color: $white;
            z-index: 1;

            img {
                width: 100px;
                margin-right: 20px;
            }

            &__icons {
                i:not(:last-child) {
                    padding-right: 5px;
                }
            }
        }

        &__navbar__user {
            display: block;
            padding: 22px 35px;
            position: absolute;
            right: 0;
            z-index: 2;
            transition: all 200ms ease-in-out;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 35px;
                cursor: pointer;
                transition: 200ms all ease-in-out;

                &:first-child {
                    margin-left: 20px;
                }
            }
        }
        
        &__navbar__icons {
            i:nth-child(1) {
                position: absolute;
                right: 0;
                left: 81.5%;
                padding: 30px 30px;
                border-left: 1px solid $gray;
                z-index: 1;
                transition: all 200ms ease-in-out;
            }
        }

        .dashboard__navbar {
            div {
                display: flex;
                align-items: center;

                &:nth-child(1) {
                    margin-right: 20px;
                }
            }
        }

        &__sidebar {
            width: 250px;
            height: 100vh;
            border-right: 1px solid $gray;
            margin-top: -21px;
            position: fixed;
            left: 0;
            top: 102px;
            background-color: $white;
    
            &__options {
                &__item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    padding-left: 20px;
                    transition: all 200ms ease-in-out;

                    h3 {
                        margin-right: 50px;
                        width: 80px;
                    }

                    img {
                        width: 20%;
                    }

                    &:hover {
                        background-color: $chineseGreen;
                        color: $chineseBlack
                    }
                }
            }
        }
    }
  }

  .select {
    select {
        border: none;
        font-family: 'Poppins';
    }

    select:focus {
        outline: none;
    }
  }

  .btnn {
    padding: 10px 0px;
        padding-left: 40px;
        padding-right: 25px;
        font-family: "Poppins";
        font-weight: 700;
        background-color: $chineseBlack;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        color: $white;
  }