.page__not__found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $chineseBlack;

    img {
        width: 40%;

        @include breakpoints(mobile) {
            & {
                width: 80%;
            }
        }
    }

    p {
        color: $white;
        font-weight: $bold;
        font-size: 20px;
        margin-top: 40px;
        padding: 0 20px;
        text-align: center;
    }

    &__btn {
        padding: 10px 25px;
        font-family: "Poppins";
        font-weight: $bold;
        background-color: $white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        text-decoration: none;
        color: $chineseBlack;
        display: flex;
        align-items: center;

        i {
            font-size: 18px;
            margin-right: 8px;
            font-weight: $bold;
        }

        &:hover {
            color: $chineseBlack;
            background-color: $chineseGreen;
        }
    }
}