// colors
$chineseBlack: #0D1321;
$linen: #FFEDDF;
$chineseGreen: #C5D86D;
$black: #000000;
$white: #FFFFFF;
$gray: #c9c9c9;

// font sizes
$xlg: 25px;
$lg: 20px;
$md: 14px;
$sm: 12px;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;